name: Reports

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for better SonarCloud analysis

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Start Docker
        run: docker compose -f compose.yaml up -d --build

      - name: Wait for Docker services
        run: sleep 10

      - name: Build with Maven and run tests
        run: mvn -B clean verify

      - name: JaCoCo Coverage Report
        uses: PavanMudigonda/jacoco-reporter@v5.0
        with:
          coverage_results_path: target/site/jacoco/jacoco.xml
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_check_run: false
          coverage_report_name: Coverage
          coverage_report_title: JaCoCo
          minimum_coverage: 70
          fail_below_threshold: false
          publish_only_summary: true

      - name: Run Checkstyle
        run: mvn checkstyle:checkstyle

      - name: Publish Checkstyle Report
        uses: lcollins/checkstyle-github-action@v2.0.0
        with:
          path: ./target/checkstyle-result.xml
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: 'target/surefire-reports/TEST-*.xml'

      - name: SonarCloud Analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.projectKey=astroney_plant \
            -Dsonar.organization=astroney \
            -Dsonar.host.url=https://sonarcloud.io

      - name: Stop Docker
        if: always()
        run: docker compose -f compose.yaml down
